# version=RHEL9
# RHEL/CentOS 9 beta Kickstart
cdrom
lang en_US.UTF-8
keyboard es
network --bootproto=static --device=ens192 --gateway=10.230.0.1 --ip=10.230.0.28 --netmask=255.255.248.0 --noipv6 --nodns --onboot=on --activate
firewall --enabled
selinux --enforcing
timezone Europe/Andorra --utc
bootloader --location=mbr --append="rhgb quiet crashkernel=auto spectre_v2=retpoline"
text
skipx
zerombr
clearpart --all --initlabel --drives=sda,sdb,sdc
part /boot --size=5120 --fstype=xfs --ondisk=sda
part pv.root --size=35713 --ondisk=sda --asprimary
volgroup rhel_os_vg --pesize=4096 pv.root
part pv.agents --size=20000 --ondisk=sdb --fstype=lvmpv
volgroup agents_vg pv.agents
part pv.logs --size=20000 --ondisk=sdc --fstype=lvmpv
volgroup logs_vg pv.logs
logvol /home --vgname=rhel_os_vg --name=home_lv --size=5120 --fstype=xfs
logvol /opt --vgname=rhel_os_vg --name=opt_lv --size=5120 --fstype=xfs
logvol / --vgname=rhel_os_vg --name=root_lv --size=5120 --fstype=xfs
logvol swap --fstype=swap --vgname=rhel_os_vg --name=swap --size=3880
logvol /usr --vgname=rhel_os_vg --name=usr_lv --size=5120 --fstype=xfs
logvol /var --vgname=rhel_os_vg --name=var_lv --size=5120 --fstype=xfs
logvol /tmp --vgname=rhel_os_vg --name=tmp_lv --size=5120 --fstype=xfs --fsoptions="nodev,nosuid,noexec"
logvol /opt/ --vgname=agents_vg --name=l_lv --size=5120 --fstype=xfs
logvol /var/log --vgname=logs_vg --name=logs_lv --size=3072 --fstype=xfs
logvol /var/log/audit --vgname=logs_vg --name=audit_lv --size=3072 --fstype=xfs
# auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
user --name=username1 --iscrypted --password=$Aoñijefaoñijfaorgjo2090892380jfñaoijfaoijfañoijgaoijdogañijfñaoisjdfañsoijfdiKakL. --uid=1000 --groups=wheel
reboot

%packages --ignoremissing --excludedocs
@Base
@Core
@Development Tools
openssh-clients
sudo
openssl-devel
readline-devel
zlib-devel
kernel-headers
kernel-devel
net-tools
vim
wget
curl
rsync

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post

# sudo
yum install -y sudo open-vm-tools perl
systemctl enable vmtoolsd
systemctl start vmtoolsd
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

yum clean all
%end

